#firstdiv {
    background-color: rgb(255, 129, 188);
    height: 125px; /* Same as image height */
    overflow: hidden; /* Hide any overflow if necessary */
    display: flex; /* Align items horizontally */
    align-items: center; /* Vertically center items */
    gap: 80px; /* Adds space between the image and text */
    
}


.navbar {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 0; /* Removes default margin */
    padding: 20;
  
}
#loginform{
    align-items: center;
    margin-top: auto;
    background-color: coral;
    height: 400px;
    width: 300px;
    /* margin: 20px; */
    
}
#logform2{
    
    height: 30px;;
    width: 100%;
    text-align: center;
    padding:auto;
}
.forminfo{
    margin-left: 50px;
    margin-top: 10px;
    padding: 3%;
} 
body{
    

   background-image: url("pic4.gif");
}
a{
    text-decoration: none;
    color: inherit;
}